.content {

	margin: auto;
	margin-top: 0px;
	max-width: 600px;
	flex-direction: column;

}
.content hr {
	margin: 4px;
	border: 1px solid hsl(0, 0%, 10%);
}

.sort-container {
	display: flex;
}

.sort-dropdown {
	font-size: 0.7rem;
	color: hsl(0, 0%, 50%);
	padding: 6px 15px;
	margin: 5px 1px;
	border-radius: 20px;
	transition: background-color 0.25s ease;
	user-select: none;
}

.sort-dropdown:hover {
	cursor: pointer;
	background-color: hsl(0, 0%, 15%);
}

.sort-dropdown:active {
	background-color: hsl(0, 0%, 30%);
}

.content-item {
	margin: 0;
	padding: 1px 10px;
	border-radius: 12px;
}

.content-item:hover {
	background-color: hsl(0, 0%, 8%);
}

.sub-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 0px;
}

.sub-content a {
	cursor: pointer;
	color: hsl(0, 0%, 60%);
	font-size: 0.7rem;
	margin: auto;
	padding: 4px 8px;
	border-radius: 10px;
	background-color: hsl(0, 0%, 5%, 0%);
	transition: 0.25s ease;
}

.sub-content .sub-id {
	margin-left: 0;
}

.sub-content .sub-id:hover {
	color: hsl(225, 50%, 60%);
}

.sub-content .join {
	color: white;
	margin-right: 5px;
	background-color: hsl(225, 100%, 50%, 100%);
}

.sub-content .join:hover {
	background-color: hsl(225, 100%, 60%, 100%);
}

.sub-content .extra {
	margin: auto 0px;
}


.sub-content .extra:hover {
	background-color: hsl(0, 0%, 15%);
}

.content-item .content-title{
	display: block;
	padding: 8px 0px;
	margin: 0;
}

.content-item .content-text {
	font-size: 0.9rem;
	display: block;
}

.content-item .interact-content {
	font-size: 0.8rem;
	display: flex;
	content-justify: center;
	algin-items: center;
	margin: 5px 0px;
}

.content-item .interact-content a {
	padding: 10px;
	padding: 6px 12px;
	margin: 0;
	margin-right: 10px;
	border-radius: 15px;
	background-color: hsl(0, 0%, 15%);
}

.content-item .interact-content a:hover {
	cursor: pointer;
	color: hsl(0, 0%, 80%);
	background-color: hsl(0, 0%, 20%);
}
