.tread {
	width: 100%;
	margin: 0;
}

.trend-items {
	display: flex;
	flex-direction: row;

	margin: 0;
}

.trend-item {
	display: flex;
	flex-direction: column;

	height: 200px;
	min-width: 250px;
	margin: 0;
	margin-right: 15px;
	border-radius: 15px;
	background: hsl(0, 0%, 25%);
}

.trend-text {
	display: flex;
	flex-direction: column;
	text-align: left;
	
	margin: auto auto 15px 15px;
}
